.global_container {
	// margin: 20px 20px;
	margin-top: 30px;
	height: 300px;
	color: var(--darkColor2);
	font-family: var(--DM);
	font-size: var(--fontSize0);
	border: 1px solid red;
}

.form_container {
	display: flex;
	flex-direction: column;
	height: auto;
	max-width: 1000px;

}

.name_container, .adress_container {

	input {
		 height: 40px;
		 width: 350px;
		 margin-right: 10px;
		 margin-top: 10px;
		 border: 1px solid var(--darkColor1);
		 outline: none;
		 border-radius: 5px;
		 font-family: var(--DM);
		
		
	}

}

.adress_container {
	margin-bottom: 10px;
}

.input_field:focus {
  
	outline: none;
	border: 2px solid var(--blueColor1);
}
