
.global_container {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;

	background: var(--blueColor1);
	border: none;
	z-index: 1;
}

.global_container:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border-radius: 5px;

	background: var(--blueColor1Dark);
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
		 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
	transition: all 0.3s ease;
}

.global_container:hover {
	color: #fff;
}
.global_container:hover:after {
	top: 0;
	height: 100%;
}

.disabled {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
	background: #fff;
	color: #ccc;
  cursor: no-drop;
	border: none;
}

.input{
	display: none;
}