.category_container {
    display: flex;
    margin-left: 50px;

}
.option_button {
    width: 200px;
    height: 40px;
    border: none;
    background-color: var(--whiteColor1);
    color: var(--darkColor2);
    font-family: var(--DM);
    font-size: var(--fontSize0);
    cursor: pointer;
}
.option_button:hover {
    background-color: var(--yellowShallow);
}

.disabled {
	pointer-events: none;
	opacity: .5;
}


.left_part,
.right_part {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
    }
}

.reset_button {
    border: none;
    background-color: transparent;
}