.main_title {
	font-family: var(--DM);
	font-size: var(--fontSize1);
}

.form_container {
	display: flex;
	flex-direction: column;
}

.textArea {
	max-width: 800px;
	height: 200px;
	border-radius: 8px ;
	margin-bottom: 10px;
	padding: 10px;
	font-family: var(--DM);
	font-size: var(--fontSize1);
	color: var(--darkColor1);
}
.textArea:focus {
	outline: none;
	border: 2px solid var(--blueColor1);
}

// .denied:focus {
// 	outline: none;
// 	border: 2px solid var(--red1);
// }