
.hidden {
	display: none;
}

.input_picture {
	display: flex;
	align-items: center;
	justify-content: space-around;


	cursor: pointer;

	input {
		 display: none;
	}
	span {
		 border: 1px solid var(--red1);
		 border-radius: 10px;
		 padding: 10px 15px;
		 font-size: var(--fontSize1);
		 transition: all 0.3s ease;
		 margin: 0 10px;
	}
	span:hover {
		 background-color: var(--red1);
	}

	button {
		 padding: 10px 15px;
	}
}
.name_file_container {
	display: flex;
	align-items: center;
	

	p {
		 margin-right: 10px;
	}
}
.buttons_container {
	display: flex;
	flex-direction: row;

}
// .left_part_buttons {
// }

.button_reset {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	cursor: pointer;
}
.button_validation {
	
  padding: 10px;
	overflow: hidden;
	border: none;
	border-radius: 50%;
	background-color: var(--blueColor1);
}
.button_validation_done {
	padding: 10px;
	border-radius: 50%;
	border: none;
	
	background-color: var(--blueColor1);
	box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
	animation: pulse 1.5s infinite;
}

.image_container_preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
}

.image_preview_container {
	width: 350px;

	display: flex;
	
	margin: 10px;
}
.image {
	border: 1px solid var(--darkColor1);
	border-radius: 5px;
	padding: 5px;
}

.selected_image_span {
	display: block;
	height: 40px;
	font-family: var(--Amaranth);
	font-size: var(--fontSize1);
	margin: 20px;

	color: var(--darkColor1);
}



@keyframes pulse {
	0% {
	  transform:  scale(.9);
	}
	70% {
		transform : scale(1);
	  box-shadow: 0 0 0 30px rgba(#5a99d4, 0);
	}
	  100% {
		transform :scale(.9);
	  box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
	}
 }