.buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--Amaranth);
    font-size: var(--fontSize0);
    color: var(--darkColor1);
    width: 550px;
    height: 50px;
    padding: 15px 10px;
    flex-wrap: nowrap;

    border-radius: 10px;
    transition: all 0.3s ease;
}
.left_part_buttons {
    display: flex;
    align-items: flex-end;
}
.name_input_container {
    color: red;
}
.disabled {
	pointer-events: none;
	opacity: .5;
}

.title_field_container {
    height: 60px;
}